  * {
    box-sizing: border-box;
  }

  body {
    background-color: #f9f9f9;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 0;
  }

  header {
    background-color: #ffce00;
    text-align: center;
    padding: 16px;
  }

  h1 {
    color: #ffffff;
    margin: 0;
    font-size: 2rem;
  }

  main {
    padding: 16px;
  }

  #food-result {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    padding: 16px;
    text-align: center;
  }

  #food-result p {
    margin: 0;
    padding: 8px;
  }

  button {
    background-color: #ffce00;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 16px auto 0 auto;
    padding: 12px 24px;
    display: block;
  }

  button:hover {
    background-color: #ffdf4f;
  }

