#food-decider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#food-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

#food-options p {
  background-color: #ffc107;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
  cursor: pointer;
}

#decide-button {
  background-color: #03a9f4;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  margin: 20px;
  cursor: pointer;
}

#result {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.hidden {
  display: none;
}
