* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 20px;
}

.card-image img {
  width: 100%;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

.card-description {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.generate-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  background-color: #ff6464;
  color: #fff;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.generate-btn:hover {
  background-color: #ff4848;
  transform: translateY(-2px);
}

